RewriteEngine On
RewriteBase /public/
RewriteRule ^login$ index.php?page=home/login [QSA,L]
RewriteRule ^register$ index.php?page=home/register [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]
